<section class="content">
		<%= form_tag '/songs', method: "get" do %>
			<%= text_field_tag(:q) %>
			<%= submit_tag 'Search', class: 'actions' %>
		<% end %>
		<hr>
    <%= render 'layouts/song.html.erb' %>
</section>