* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #F9F9F9;
}

.users {
	float: left;
	margin: 3%;
}

div#connect {
	position: absolute;
	top: 250px;
	left: 22%;
}

h2#welcome {
	position: absolute;
	top: 100px;
	left: 18%;
}

div#exp {
	position: absolute;
	top: 160px;
	left: 20%;
	text-align: center;
}

.home-image {
	width: 100%;
	margin: 0px;
	background-size: cover;
	vertical-align:text-bottom;
	opacity: 0.5;
	z-index: 0;
}

header nav {
	background-color: #2B2B2B;
	width: 100%;
	height: 40px;
}

header nav span .navi:hover {
	background-color: #404040;
	cursor: pointer;
}

.navi {
	float: left;
	padding: 11px 2%;
	text-decoration: none;
	color: #EEEEEE;
}

h1.navi {
	margin: 0px;
	padding: 5px 8%;
}

section.content {
	margin: 20px;
}

section h2 {
	background-color: #2B2B2B;
	color: #EEEEEE;
	text-align: center;
	padding: 10px;
}

iframe {
	height: 150px;
}

.actions {
	border: 1px solid black;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 3px 5px;
	border-radius: 2px;
}

.actions:hover, div h2.head:hover {
	border: 1px solid #A00000;
	background-color: #A00000;
	cursor: pointer;
}

.form {
	margin: 50px 20% 0px 20%;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px 10%;
	background-color: #E8E8E8;
}

div h2.head {
	background-color: #2B2B2B;
	text-align: center;
	padding: 10px;
}

.user-w {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px;
}


.wallets {
	text-decoration: none;
	color: #EEEEEE;
}

div#wlist {
	margin: 150px 20%;
}

div.error_explanation {
	color: red;
	border: 3px solid red;
	padding: 10px;
}