<header>
		<nav>
			<h1 class="navi">MusicWallet</h1>	
			<%= link_to 'Home', root_path, class: 'navi' %>
			<%= link_to 'Search', songs_path, class: 'navi' %>
			<%= link_to 'Wallets', wallets_path, class: 'navi' %>
		</nav>
</header>