<header>
		<nav>	
			<%= link_to 'Home', root_path %>
			<%= link_to 'Profile', user_path(current_user) %>
			<%= link_to 'Search', songs_path %>
			<%= link_to 'Wallets', wallets_path %>
		</nav>
</header>